* {
    margin: 0;
    border: border-box;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
}
body{
    letter-spacing: 0.6px;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.hide {
    display: none !important;
}

.nav0{
    background-color: rgba(0, 0, 0, 0.644) !important;
}

.nav-logo {
    position: relative;
    padding-top: 20px;
    display: flex;
    height: 60px;
    width: 100px;
    background-color: ;
    margin: 10px;
}

.nav-logo span {
    margin-top: 14px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    /* position: fixed; */
}

.border {
    border: 1px solid transparent;
    padding: 5px;
}

.border span {
    font-size: 13px;
}

.border:hover {
    border: 1px solid white;
    cursor: pointer;
}

/**box2**/
.address1 {
    color: blanchedalmond;
    font-size: 0.85rem;
    margin-left: 15px;

}

.address2 {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/**box3**/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    width: 620px;
    height: 40px;
    /* border-radius: 4px; */
    border: 2px solid transparent;
}

.search-select {
    background-color: antiquewhite;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 217, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}

.nav-search:hover {
    border: 2px solid orange;
    border-radius: 7px;
}

.lang {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 8px;
    cursor: pointer;
}

.lan {
    display: flex;
}

.lang h5 {
    margin-top: 3px;
    display: ;
}

.lang img {
    height: 20px;
}

.nav-singin {
    cursor: pointer;
}

.down {
    color: #e2e7e6e3;
}

/**box 4 **/
span {
    font: size 0.5rem;
}

.nav-second,
.nav-secpanel-allond {
    font-size: 0.85em;
    font-weight: 700;
}

/**box6 **/
.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;

    /**panel**/
}

.panel {
    width: 100%;
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    background-color: c;
    font-size: 13.5px;
}

.menu {
    margin-left: 10px;
    background-color: ;
    display: flex;
    gap: 8px;
    border: 1px solid white;
    padding: 3px;
    cursor: pointer;
}

.panel-ops {
    margin-left: 5px;
}

.panel-ops p {
    display: inline-block;
    margin: 5 10px 10px 0;
    padding: 3px;
    border: 1px solid transparent;
    cursor: pointer;
}

.panel-ops p:hover {
    border-color: white;
}

.panel-ops {
    width: 70%;
    font-size: o.95rem;
}

.panel-deal {
    font-size: o.9rem;
    font-weight: 700px;
    width: 32%;
    background-color: ;
    padding: 4px;
    border: 1px solid transparent;
    cursor: pointer;
}

.panel-deal:hover {
    border: 1px solid white;
}

.hero-section {
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.hero-section img {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

/**slide button**/
.hero-section {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.mySlides {
    display: none;
    width: 100%;
}

.display-btn {
    position: absolute;
    top: 50%;
    height: 95%;
    width: 60px;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

.display-btn:hover {
    border: 2px solid white;
    border-radius: 5px;
}

.display-btn:first-child {
    left: 10px;
}

.display-btn:last-child {
    right: 10px;
}

@media only screen and (max-width: 768px) {
    .display-btn {
        font-size: 18px;
        padding: 8px;
    }
}

.hero-section button {
    font-size: 50px;
    color: white;
    background: none;
    border: none;
}

/**shop sectio**/
.shop-section {
    display: flex;
    flex-wrap: wrap;
    /**4 box next line**/
    justify-content: space-evenly;
    background-color: #e2e7e6;
    font-size: 14px;
}

.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img {
    margin-top: 10px;
    background-color: ;
    height: 320px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.img {

    font-size: 11.5px;
    position: relative;
}

.img img {
    width: 100%;
    height: 100px;
}

.box-content {
    padding: 4px;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content a {
    text-decoration: none;
}

.box-content p {
    color: #007185;
}

/* Today deal items */

#Slide-shop-item {
    height: 360px;
    width: 97%;
    background-color: white;
    padding: 20px 0px 20px;
    margin: 15px;
}

.Slider {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 330px;
    background-color: ;
}

.info {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: ;
}

.items {
    display: flex;
    gap: 10px;
    height: 100px;
    background-color: ;
    height: 350px;
    overflow-x: scroll;
    overflow-y: hidden;
}


.item {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 220px;
    width: 240px;
    background-color: whitesmoke;
    border-radius: 8px;
}

.item img {
    padding: 10px 40px 10px 40px;
    height: 200px;
    /* width: 180px; */
}

.offers {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.offer {
    color: red;
}

.offer button {
    border-radius: 3px;
    padding: 3px;
    width: 3.5rem;
    background-color: red;
    border: none;
    color: #fff;
    margin: 2px;
}

.mrp {
    display: flex;
    gap: 4px;
}

.mrp p {
    text-decoration-line: line-through;
}

.mrp p,
.rate {
    margin-top: 3px;
    font-size: 10.5px;
}

/* kitchen items */

.items-sets {
    height: 260px;
    width: 97%;
    background-color: white;
    padding: 20px 0px 20px;
    margin: 15px;
}

.kitchens {
    display: flex;
    gap: 10px;
    height: 100px;
    background-color: ;
    height: 250px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.kitchen {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 220px;
    width: 240px;
    /* background-color: whitesmoke; */
    border-radius: 8px;
}

/* Scooter store content */

.scooters {
    display: flex;
    gap: 10px;
    height: 100px;
    background-color: ;
    height: 250px;
    overflow-x: scroll;
    overflow-y: hidden;
}

/* arrivale store content */

.arrivals {
    display: flex;
    gap: 10px;
    height: 100px;
    background-color: ;
    height: 250px;
    overflow-x: scroll;
    overflow-y: hidden;
}

/* carpets store content */

.carpets {
    display: flex;
    gap: 10px;
    height: 100px;
    background-color: ;
    height: 250px;
    overflow-x: scroll;
    overflow-y: hidden;
}

/* for kitchen ,scooter, arrivel and carpets */

.items-sets .Slider {
    position: relative;
}

.items-sets .l-btn,
.items-sets .r-btn {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    height: 80px;
    width: 40px;
    font-size: 25px;
    color: black;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-sets .l-btn {
    left: 1px;
}

.items-sets .r-btn {
    right: 1px;
}

.items-sets .l-btn:hover,
.items-sets .r-btn:hover {
    background-color: #e2e7e6;
}

/* Adjust size for smaller screens */
@media only screen and (max-width: 768px) {

    .items-sets .l-btn,
    .items-sets .r-btn {
        height: 30px;
        width: 30px;
        font-size: 16px;
    }
}


/* for sign-in */

.sign-in{
    margin-top: 25px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in{
    width: 100%;
    height: 80%;
    text-align: center;
    border: 1px solid gainsboro;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page{
    margin-top: 20px;
   display: flex;
   flex-direction: column;
   gap: 6px;
   font-size: 14px;
}

.page button{
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    background-color: #f0c14b;
    border: 1px solid orange;
}

.page span{
     font-size: 12px;
}

/**footer**/
footer {
    margin-top: 5px;
    background-color: #37475a;
    font-size: 13px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-size-adjust: 0.85rem;
}

.foot-panel2 {
    /* background-color: #222f3d; */
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel2 a:hover{
    text-decoration: underline;
    cursor: pointer;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: o.85rem;
    margin-top: 10px;
    color: #dddddd;

}

.foot-pane13 {
    /* background-color: #222f3d; */
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.foot-logo {
    display: flex;
    background-color: ;
    justify-content: space-between;
    width: 20%;
}

.foot-logo button {
    margin: 10px;
    height: 35px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 18px;
    background: none;
    color: white;
    border: 1px solid rgba(250, 128, 114, 0.596);
    border-radius: 3px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;

}

.foot-panel4 {
    height: 30px;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.foot-pane {
    width: 71%;
    margin: 20px;
    text-align: center;
}

.foot-pane span a {
    color: #e2e7e6f1;
    text-decoration: none;
    margin: 5px;
}

.foot-pane span:hover {
    text-decoration: underline;
}

.foot-panel5 {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: ;
    padding: 12px;
    gap: 20px;
}

.foot-panel4,
.foot-panel5{
     font-size: 12px;
}

.uper-content,
.down-content {
    width: 80%;
    background-color: ;
    display: flex;
    gap: 30px;
}

.content {
    width: 22%;
    margin: px;
    background-color: ;
    cursor: pointer;
}

.content p {
    color: #e2e7e6e1;
}

.content:hover {
    text-decoration: underline;
}

.privacy {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 15px;
    font-size: 12px;
    color: #dddddd;
}

.noote{
    display: flex;
    gap: 15px;
}

.noote span:hover{
    cursor: pointer;
    text-decoration: underline;
}



.sidebar {
    background-color: white;
    width: 350px;
    height: 100%;
    transform: translateX(-350px);
    transition: all 0.5s;
    position: absolute;
    z-index: 1000;
    overflow-y: scroll;
    /* box-shadow: 2px 2px 30px black; */
}

.sidebarClose {
    transform: translateX(0);
}

.hdn-head {
    background-color: #232f3e;
    height: 70px;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.hdn-head h2 {
    line-height: 60px;
    color: white;
}

.sign {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.sign>i {
    font-size: 25px;
    margin-top: 15px;
}

.hdn-content {
    padding: 15px;
}

.hdn-content h3 {
    padding: 20px 20px;
    color: rgb(39, 39, 39);
}

.hdn-content ul div {
    display: flex;
    cursor: pointer;
    transition: all 0.2s;
    font-size: rgb(70, 70, 70);
    font-size: 14px;
    padding: 15px 20px 20px 0px;
    list-style: none;
    justify-content: space-between;
}

.xmark {
    left: 0;
    font-size: 30px;
    cursor: pointer;
    padding: 15px;
    background-color: ;
}

.xmark i {
    color: white;
}


/* for Account List */
.show {
    display: none;
}

.active {
    width: 100%;
    z-index: 100;
}

.active-1 {
    top: 70px;
    width: 100%;
    z-index: 99;
}

.active {
    transform: translateX(0);
}

.fa-xmark.active {
    display: block;
}

.hdn-sign.active {
    display: block;
}

.triangle.active {
    display: block;
}

.triangle {
    position: absolute;
    z-index: 2;
    /* display:; */
    right: 213px;
    top: 41px;
    background-color: transparent;
    width: 0;
    height: 0;
    /* display:; */
    /* transition:all 2s; */
    border: 10px solid blue;
    border-color: transparent transparent white transparent;
}

.triangle i {
    z-index: 1000;
    background-color: #222f3d;
    color: #222f3d;
}

.hdn-sign {
    /* position: absolute; */
    position: fixed;
    z-index: 101;
    transition: all 2s;
    /* display: none; */
    width: 500px;
    height: 395px;
    top: 60px;
    right: 80px;
    background-color: white;
    border-radius: 5px;
}

.login-btn{
    text-align: center;
    margin-top: 10px;
}

.login-btn button{
    width: 150px;
    cursor: pointer;
    padding: 4px;
    border-radius: 7px;
    border: none;
    background-color: rgb(255, 208, 0);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.login-btn p{
    font-size: 11px;
    margin-top: 3px;
}

.hdn-table {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.hdn-table h3 {
    font-size: 16px;
    margin-left: 20px;
}

.hdn-table li {
    color: rgb(84, 84, 84);
    font-size: 13px;
    padding: 5px 0;
    cursor: pointer;
}

.hdn-line {
    width: 0.5px;
    color: black;
    background-color: rgb(190, 190, 190);
    height: 305px;
}

.hdn-line1{
    width:450px;
    color: black;
    background-color: rgb(190, 190, 190);
    height: 0.5px;
    margin: 10px 0px 0px 25px;
}

.stop-scroll {
    overflow: hidden;
    height: 100%;
}


/* for language selection bar */

.language {
    /* position: absolute; */
    position: fixed;
    z-index: 101;
    transition: all 2s;
    /* display: none; */
    width: 250px;
    height: 400px;
    top: 60px;
    right: 173px;
    background-color: white;
    border-radius: 5px;
}

.language ul {
    list-style: none;
}

.language hr {
    width: 80%;
    margin-left: 28px;
}

.select-lang {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.select-lang li {
    display: flex;
    gap: 10px;
    font-size: 13px;
}

.select-lang li input {
    height: 17px;
    width: 17px;
}

.select-lang-1 {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 15px;
}

.select-lang-1 span {
    display: flex;
}

.select-lang-1 span p {
    margin-top: 4px;
}

.select-lang-1 li {
    margin-left: 1.6rem;
}

.select-lang-1 li a {
    text-decoration: none;
    color: #007185;
}

.select-lang-1 img {
    height: 20px;
}

.triangl {
    position: absolute;
    z-index: 2;
    /* display:; */
    right: 357px;
    top: 40px;
    background-color: transparent;
    width: 0;
    height: 0;
    /* display:; */
    transition: all 2s;
    border: 10px solid blue;
    border-color: transparent transparent white transparent;
}

.triangl i {
    z-index: 1000;
    /* background-color: #222f3d; */
    background-color: #fff;
    color: #222f3d;
}

.show-1 {
    display: none;
}

@media screen and (max-width: 1060px) {
    header {
        height: 50px;

    }

    .panel {
        height: 100px;
    }

    .panel-ops,
    .panel-deal {
        /* display: flex; */
        /* justify-content: space-around; */
    }

    .nav-search {
        width: 50%;

    }

    .box {
        width: 50%;
        height: auto;
    }

    .shop-section {
        display: flex;
        justify-content: space-around;
        /* flex-direction: column; */
    }

    .box img {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .foot-panel2 {
        height: 100%;
    }


}