@media screen and (max-width: 1060px) {
    header {
        height: 50px;

    }

    .panel {
        height: 100px;
    }

    .panel-ops,
    .panel-deal {
        /* display: flex; */
        /* justify-content: space-around; */
    }

    .nav-search {
        width: 50%;

    }

    .box {
        width: 50%;
        height: auto;
    }

    .shop-section {
        display: flex;
        justify-content: space-around;
        /* flex-direction: column; */
    }

    .box img {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .foot-panel2 {
        height: 100%;
    }


}